PyCity Schools Analysis

Analysis is below"

In [2]:
#Dependencies and Setup
import pandas as pd
from pathlib import Path

#Files to Load 
school_data_to_load= Path("Resources/schools_complete.csv")
student_data_to_load= Path("Resources/students_complete.csv")

#Files to read and store into Pandas
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [23]:
#Total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [24]:
#Total number of students 
student_count = school_data_complete["student_name"].count()
student_count

39170

In [25]:
#Calculation of the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [26]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [27]:
#Percentage of students who passed math (math scores greater than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count)*100
passing_math_percentage

74.9808526933878

In [28]:
#Percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count)*100
passing_reading_percentage

85.80546336482001

In [29]:
#Percentage of students who passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_math_reading_percentage = passing_math_reading_count / float(student_count)*100
passing_math_reading_percentage

65.17232575950983

In [30]:
#Total Budget
list_budget = school_data_complete["budget"].unique()
total_budget = list_budget.sum()

#Create a high-level snapshot of the district's key metrics in a Dataframe
district_summary =pd.DataFrame([{"Total School":school_count,"Total Students":student_count,"Total Budget":total_budget, "Average Math Score":average_math_score, 
                     "Average Reading Score":average_reading_score,"% Passing Math":passing_math_percentage, "% Passing Reading":passing_reading_percentage,
                     "% Overall Passing" : passing_math_reading_percentage}])
#Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

#district_summary_df = pd.DataFrame(district_summary)
district_summary

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [79]:
# The type per school from school data
school_types = school_data.set_index(["school_name"])["type"]

In [107]:
#Calculate the total student per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]

In [108]:
#Calculate the total school budget and per capita spending per school from school data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget/per_school_counts

In [78]:
# Caclulate the average test scores per school from school_data_complete
per_school_reading_list = school_data_complete.groupby(["school_name"])["math_score"]
school_data_complete
per_school_reading = per_school_math_list.mean()
per_school_reading_list = school_data_complete.groupby(["school_name"])["reading_score"]
per_school_reading = per_school_reading_list.mean()

In [13]:
#Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]["student_name"]
students_passing_math_no_null=students_passing_math.dropna(how='all')
school_data_complete["student_name_passing_Mscore"]= students_passing_math_no_null
school_data_complete
# student_name_passing_Mscore_NoNull=student_name_passing_Mscore.dropna(how='any')
# student_name_passing_Mscore_NoNull
# school_students_passing_math_list = school_data_complete.groupby(["school_name"]).agg(students_passing_math["student_name"])
# school_students_passing_math = 
# school_students_passing_math
# school_students_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,student_name_passing_score,student_name_passing_Mscore
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Paul Bradley,Paul Bradley
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,NaN,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,Bonnie Ray,Bonnie Ray
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,Donna Howard,Donna Howard
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,Dawn Bell,Dawn Bell
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,Rebecca Tanner,Rebecca Tanner
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,Desiree Kidd,Desiree Kidd
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,Carolyn Jackson,Carolyn Jackson